<?xml version="1.0" encoding="utf-8"?>

<launch>

    <arg name="rviz" default="false"/>
    <arg name="x" default="8"/>
    <arg name="y" default="-8"/>
    <arg name="z" default="0.35"/>
    <arg name="yaw" default="0.0"/>
    <arg name="gui" default="true" />
    <arg name="control_joints" default="false" />
    <arg name="description_name"         default="aww/robot_description"/>
    <arg name="description_file"         default="$(find aww_description)/urdf/anymal_with_wheels.urdf"/>
    <arg name="joint_states_topic"       default="aww/joint_states"/>

<!--     <param name="$(arg description_name)" textfile="$(arg description_file)"/> -->
  
    <!-- start controllers -->
    <include file="$(find aww_gazebo)/launch/aww_start_controllers.launch" />

    <!-- Launch Gazebo  -->
    <include file="$(find aww_gazebo)/launch/world_construction.launch">
      <arg name="x" value="$(arg x)"/>
      <arg name="y" value="$(arg y)"/>
      <arg name="z" value="$(arg z)"/>
      <arg name="yaw" value="$(arg yaw)"/>
      <arg name="gui" value="$(arg gui)"/>
    </include>

    <!-- launch the moveit move_group -->
    <include file="$(find aww_moveit)/launch/move_group.launch">
      <arg name="allow_trajectory_execution" value="true"/>
      <arg name="fake_execution" value="false"/>
      <arg name="info" value="true"/>
      <arg name="debug" value="true"/>
      <arg name="load_robot_description" value="false"/>
      <arg name="execution_type" value="interpolate" />
    </include>

    <!-- Run Rviz and load the default config to see the state of the move_group node -->
    <group if="$(arg rviz)">
      <!-- RViz -->
      <include file="$(find aww_moveit)/launch/moveit_rviz.launch">
        <arg name="rviz_config" value="$(find aww_moveit)/launch/moveit.rviz"/>
        <arg name="debug" value="false"/>
      </include>
    </group>

</launch>