<?xml version="1.0" ?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#xacro"
       name="aww" >

  <xacro:include filename="$(find aww_description)/urdf/aww_macro.xacro"/>

    <!-- Used for fixing robot to Gazebo -->
    <link name="world"/>

    <!-- robor -->
    <xacro:aww_robot parent="world">
        <origin xyz="0 0 0.4" rpy="0 0 0" /> <!--slightly above gazebo plane-->.
    </xacro:aww_robot>

</robot>